@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Lora";
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: whitesmoke;
}

#content {
  flex: 1;
  justify-content: center;
  width: 50%;
  padding-bottom: 100px;
}

#content.adopcion {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content p {
  text-align: justify;
  line-height: 30px;
  font-size: large;
}

#content h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #404040;
  color: whitesmoke;
  font-family: "Poppins";
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 250px;
  padding: 0px 60px 0px 150px;
}

.navegador {
  cursor: pointer;
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  white-space: nowrap;
}

.navegador li {
  display: inline;
  margin: 0 20px 0 0;
}
.navegador li a {
  padding: 2px 5px 5px 5px;
  color: #666;
  text-decoration: none;
}
.navegador li a:hover {
  border-bottom: #404040 2px solid;
  color: #404040;
}

.subtitle {
  font-weight: 600;
  font-size: large;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#side-image {
  width: 250px;
  display: flex;
  align-items: left;
  margin-left: 300px;
}

.imagen-mascota {
  max-height: 500px;
  max-width: 400px;
  width: 100%;
}

.imagen-mascota img {
  max-height: 500px;
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.img-especial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-especial img {
  max-height: 500px;
  max-width: 500px;
}

#adopcion {
  margin: 0px 50px 0px 50px;
}

#confirm {
  height: 100px;
  background-color: white;
  position: relative;
  display: none;
}

.dialog.ui-dialog {
  font-family: "Lora";
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
  background: #f5f1e0;
  border-radius: 20px 20px 10px 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
  position: fixed !important;
}

.dialog.ui-dialog .ui-dialog-titlebar {
  position: relative;
  text-align: center;
  background: #e2dcc3;
  color: black;
  font-size: larger;
  font-weight: bold;
  border: 0 none;
  border-radius: 20px 20px 0 0;
}

.dialog.ui-dialog .ui-dialog-titlebar-close {
  margin-right: 4px;
}

.dialog.ui-dialog .ui-dialog-content {
  border-radius: 0 0 10px 10px;
  margin: 10px 10px 20px 10px;
}

.dialog.ui-corner-all {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
}

.dialog.ui-widget.ui-widget-content {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
}
