RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?animalesenapuros\.com\.ar
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^adopcion/?$ views/adopcion.html
RewriteRule ^casosespeciales/?$ views/casosespeciales.html
RewriteRule ^contacto/?$ views/contacto.html
RewriteRule ^donativos/?$ views/donativos.html
RewriteRule ^noticias/?$ views/noticias.html
RewriteRule ^inicio/?$ index.html
