<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/cards.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <title>Animales en apuros</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>
      <div id="content">
        <h2>Colaborar con Casos especiales</h2>
        <div id="especial"></div>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
