<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/cards.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <title>Animales en apuros</title>
    <script
      type="text/javascript"
      src="https://secure.trust-provider.com/trustlogo/javascript/trustlogo.js"
    ></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>
      <div id="content">
        <h2>¿Querés colaborar con Animales en Apuros?</h2>
        <div class="column">
          <p>Tu ayuda será destinada al alimento, refugio y cuidados de los animales rescatados.</br>
          ¡Muchas gracias por tu pata!
          </p>
        </div>
        <div id="card-content">
          <div class="card" id="transferencia">
            <div class="title"></div>
            <div class="content">
              <div><b>CVU:</b> 0000003100066673033361</div>
              <div><b>ALIAS:</b> AnimalesEnApuros</div>
            </div>
            <div class="footer"></div>
          </div>
          <div class="card" id="mercado-pago">
            <div class="title"></div>
            <div class="content">
              <a href="https://mpago.la/19BicTR" target="_blank" class="donate-button">Donar $100</a>
              <a href="https://mpago.la/1eGfDLw" target="_blank" class="donate-button">Donar $500</a>
              <br />
              <a href="https://mpago.la/1koSkXY" target="_blank" class="donate-button">Donar $1000</a>
              <a href="https://mpago.la/2vmD8re" target="_blank" class="donate-button">Donar $1500</a>
              <br />
              <a href="https://mpago.la/14xWsRY" target="_blank" class="donate-button">Donar $2000</a>
              <a href="https://mpago.la/1b6ZXEd" target="_blank" class="donate-button">Donar $3000</a>
              <a href="https://mpago.la/2BpC4YJ" target="_blank" class="donate-button">Donar $5000</a>
            </div>
            <div class="footer"></div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="trust-logo">
          <script language="JavaScript" type="text/javascript">
            TrustLogo(
              "https://micuenta.donweb.com/img/sectigo_positive_sm.png",
              "CL1",
              "none"
            );
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
