<div id="footer">
  <div class="container">
    <div>Copyright © 2021 - Animales en apuros.</div>
    <div>
      <a
        href="https://www.facebook.com/Animalesenapurospadrinos"
        target="_blank"
      >
        <img src="/images/facebook.png" title="Facebook" />
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/animales_enapuros/" target="_blank">
        <img src="/images/instagram.png" title="Instagram" />
      </a>
    </div>
    <div>
      <a href="https://twitter.com/AdoptaEspecial" target="_blank">
        <img src="/images/twitter.png" title="Twitter" />
      </a>
    </div>
  </div>
</div>
