<div class="header-content">
  <a href="../index"><img id="logo" src="/images/logo.png" /></a>
  <img src="/images/header_cat.png" />
</div>
<div class="navegador">
  <ul>
    <li><a href="../index">¿Quiénes somos?</a></li>
    <li><a href="../views/noticias">Noticias</a></li>
    <li><a href="../views/adopcion">En adopción</a></li>
    <li><a href="../views/casosespeciales">Casos especiales</a></li>
    <li><a href="../views/donativos">Donativos</a></li>
    <li><a href="../views/contacto">Contactanos</a></li>
  </ul>
</div>
