<div class="header-content">
  <a href="../index.html"><img id="logo" src="/images/logo.png" /></a>
  <img src="/images/header_cat.png" />
</div>
<div class="navegador">
  <ul>
    <li><a href="../index.html">¿Quiénes somos?</a></li>
    <li><a href="../views/noticias.html">Noticias</a></li>
    <li><a href="../views/adopcion.html">En adopción</a></li>
    <li><a href="../views/casosespeciales.html">Casos especiales</a></li>
    <li><a href="../views/donativos.html">Donativos</a></li>
    <li><a href="../views/contacto.html">Contactanos</a></li>
  </ul>
</div>
